String operations
RegEx in python

Basic string operations(string methods)
functions that can only be applied to strings
1. to access specific character in a string
string[index]
2. Slicing string:
Works same as slicing list
string[startIndex:StopIndex:JumpStep]
3. Strings are immutable(you cannot change the value of a string) by using indexing but we can replace a value in a string
4. concatenation of string
5. "in" and "not in" used in string

In [1]:
name = 'Jesse'
print(name[0])

J

In [5]:
name[2:4:1]
s= 'Economics'
s[0:7:2]

'Eooi'

In [12]:
k=s.replace("E",'e')
k,s

('economics', 'Economics')

In [19]:
first_name = 'David'
second_name = 'Austin'
full_name = first_name + " "+second_name + "  "
full_name
print(full_name*3)

David Austin  David Austin  David Austin

In [ ]:
print('A' in 'Austin')
print('b' not in 'Austin')

True

Usefull string methods
1. split() method
used to separate a string and store them as elements in a list
string.split('separator')
2. join() method
used to join elements of a list to form a string
"joiner(comma, fullstop etc)".join(list)

In [22]:
sentence = 'We are going home, my home is Embu'
print(sentence.split(','))

['We are going home', ' my home is Embu']

In [25]:
print('-'.join(["2025","3","12"]))

2025-3-12

# Extracting substring from strings

In [ ]:
line = 'From stephen.marquard@ utc.ac.za Sat Jan 5 09:14:16 2008'
words = line.split()
words
email = words[1]
email
at_index = email.find('@')
at_index
sender_name = email[:at_index]
sender_name
month = words[4]
day = words[3]

'5'

In [54]:
#find('what your trying to find', start, stop) brings 
# first instance of the element being searched
fruits= 'banana'
fruits.find('a',2)

3

We have the following email and timestamps
line = 'From mercy.mwangi@zindua.tech Sat Jun 7 11:13:00 2025'
output zindua tech 
Nb do not use split use only find

In [68]:
line = 'From mercy.mwangi@zindua.tech Sat Jun 7 11:13:00 2025'
first_index = line.find("z")
print(first_index)
last_index = line.find('h',first_index)
print(last_index)
company_name = line[first_index:last_index+1]
company_name

18
28

'zindua.tech'

print(first_index)
last_index = line.find('h',first_index)
print(last_index)
company_name = line[18:29]
company_name

### Regular expressions (RegEx)

r stands for raw string
\d - find all digits in this string
\w+ - all alphanumeric characters and underscore
\s - find all white spaces and escape characters
[...] - finds all characters in the bracket
# quantifiers - they control/tell us how many times the character can appear
\d+ - digits appear one or more times
? - read more...
* match any string with the order given
\d{number} - find digits is are a cetain count
\d{m,m} - find digits within certain range of count
# Anchors- they specify the position and not the matching pattern from where to begin the search
^ - start of a string
$ - end of the string
\b - used for exact matches

In [ ]:
import re 
print(re.findall(r'\d','Order 45 was place in 2023'))

In [ ]:
print(re.findall(r'\w+','Welcome to _python3 !!'))

In [70]:
import re
print(re.findall(r'[a,e,i,o,u]', 'Hello world'))

['e', 'o', 'o']

In [71]:
print(re.findall(r'\d+','we have 12 goats, 3 pigs and 200 cows'))

['12', '3', '200']

In [ ]:
print(re.findall(r'colou?r','colouur and colour are both valid ' ))
# the u can appear once or none

In [ ]:
print(re.findall(r"ab*",'abb a ab abbbb accc'))
# give me a with b appearing either zero, once or many times for c it won't pass
#In short find a and b

['abb', 'a', 'ab', 'abbbb', 'a']

In [76]:
print(re.findall(r'\d{4}','We went on 25 2025'))

['2025']

In [78]:
print(re.findall(r'\d{2,5}', 'We are going to 234 to find 4433444'))

['234', '44334', '44']

In [ ]:
print(re.findall(r'^Hello','World! Hello'))
#find for me the hello that is at the beginning of the substring

In [ ]:
print(re.findall(r'$world','Hello! world'))
#find for me the world that is at the end of the substring

In [ ]:
print(re.findall(r'\bcat\b', 'This is a cat in a catalog'))
# Only matches cat not catalog

['cat']

### Exercise

Write a python program to check that a string contains a certain set of characters (in this case a-z, A-Z, 0-9)

In [ ]:
text = input("Enter password")
pattern = r'^[a-zA-Z0-9]+$'
match = re.fullmatch(text, pattern)
if match:
    print("Strong password")
else:
    print('Weak password')